body {
  font-family: sans-serif;
  padding: 5%;
}
.margin-bottom {
  margin-bottom: 5%;
}

/* Question 1 */
.tableDiv table,
.tableDiv tr,
.tableDiv td,
.tableDiv th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 20px;
}

/* Question 2 */
.listDiv {
  display: flex;
}
.listDiv > ul,
.listDiv > ol {
  border: 1px solid rgb(188, 187, 187);
  border-radius: 15px;
  margin: 3% 5%;
  box-shadow: 2px 2px 5px rgb(188, 187, 187);
  padding: 15px 40px;
}
.listDiv > ul :hover,
.listDiv > ol :hover {
  background-color: rgb(188, 187, 187);
}

/* Question 3 */
.dropDownDiv > select {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: larger;
  width: 20%;
}

.tableDiv,
.listDiv,
.dropDownDiv {
  display: flex;
  justify-content: center;
}

/* Responsive Layout */
@media (max-width: 2000px) {
  .dropDownDiv > select {
    width: 356.97px;
  }
}

@media (max-width: 850px) {
  .margin-bottom {
    margin-bottom: 37.438px;
  }
}
